* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

canvas {
  width: 650px;
  height: 500px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
